<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd" xmlns:th="http://www.thymeleaf.org">
<!-- <!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd"> -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="UTF-8"/>
		<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
		<meta http-equiv="EXPIRES" content="Mon, 01 Jan 2000 00:00:01 GMT" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title th:text="${title}">Application Title</title>
		<meta name="description" content="UGate Mobile Interface"/>
		<meta name="keywords" content="ugate, ugate mobile"/>
		<meta name="author" content=""/>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		<link rel="icon" href="logo16x16.png"/>
		<link rel="apple-touch-icon" size="144x144" href="logo128x128.png"/>
		<link rel="apple-touch-icon" size="114x114" href="logo128x128.png"/>
		<link rel="apple-touch-icon" size="72x72"   href="logo64x64.png"/>
		<link rel="apple-touch-icon" size="57x57"   href="logo64x64.png"/>
		<link rel="apple-touch-icon" href="logo64x64.png"/>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		    var AJAX_UPDATE_URL = /*[[${ajaxUpdateUrl}]]*/ "";
			var COMMAND = "command";
			var ACTION = "action";
			var ACT_CONNECT = "connect";
			var RN_ADDY = "rnId";
			var defaultLoadingMsg = "Please Wait...";
		/*]]>*/
		</script>
		<script type="text/javascript">
		/*<![CDATA[*/
			var ws, wsc = 0;
			// converts form data into JSON object
			(function($) {
				$.fn.serializeFormJSON = function() {
					var o = {};
					var a = this.serializeArray();
					$.each(a, function() {
						if (o[this.name] !== undefined) {
							if (!o[this.name].push) {
								o[this.name] = [ o[this.name] ];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				};
			})(jQuery);
			$(document).bind("mobileinit", function() {
				$.mobile.loader.prototype.options.textVisible = true;
				$.mobile.loader.prototype.options.textonly = false;
				//$.mobile.ajaxEnabled = false;
				$.mobile.loadingMessage = defaultLoadingMsg;
			});
			$(document).bind("pagebeforeload", function() {
				var msgo = $('#feedbackMessage');
				var msg = msgo ? msgo.text() : null;
				$.mobile.loadingMessage = msg ? msg : 'Loading...';
			});
			$(document).bind(
					"pageloadfailed",
					function(event, data) {
						// show error content from HTTP 500 error page
						var msg = $(data.xhr.responseText)
								.find("#errorContent").html();
						$.mobile.pageLoadErrorMessage = msg ? msg
								: data.errorThrown;
					});
			// WebSocket
			$(document).ready(function() {
				//openWebSocket();
			});
			function openWebSocket() {
				try {
					if (!ws || ws.readyState === undefined || ws.readyState > 1) {
						// http://jquerymobile.com/test/docs/api/methods.html
						var url = $.mobile.path.parseUrl(window.location.href);
						ws = new WebSocket("ws://" + url.host
								+ "/UGateWebSocketServlet");
						ws.onopen = function(event) {
							hideMessage();
							wsc = 0;
						}
						ws.onmessage = function(event) {
							updateValues(jQuery.parseJSON(event.data));
						}
						ws.onclose = function(event) {
							wsc++;
							showMessage('Attempt ' + wsc + ' to reconnect ');
							setTimeout(openWebSocket, 1000);
						}
					}
				} catch (e) {

				}
			}
			function updateValues(json) {
				try {
					//alert(event.data);
					var detail = $('#rnDetail');
					if (detail && json && json.address) {
						var rnAddy = $('#' + RN_ADDY + '0').text();
						//alert(json.address + " === " + rnAddy + " is " + (json.address === rnAddy));
						if (json.address === rnAddy) {
							var updated = false;
							$.each(json, function(name, value) {
								var f = $('#' + name);
								//alert(f.val() + " === " + value + " (name: " + name + ")");
								if (f) {
									f.val(value);
									if (typeof f.slider == 'function') {
										f.slider('refresh');
									}
									updated = true;
								}
							});
						}
					}
				} catch (e) {
					alert("Unable to update UI (error: " + e
							+ ") with data from\n\n" + event.data);
					refreshPage();
				}
			}
			// AJAX calls
			function rnConnect(a, address, waitMessage) {
				showMessage(waitMessage);
				try {
					ajaxGo(null, address, ACTION + '=' + ACT_CONNECT, function (data) {
						hideMessage();
						$(a).attr("data-theme", "b");
						$(a).attr("data-icon", "arrow-r");
					});
				} catch (e) {
					showMessage(e.message);
				}
				//alert('gone');
			}
			// when a slider stops sliding submit form data
	        $(document).bind("pageinit", function() {
	            $(".ui-slider-input, .ui-slider-switch").each(function() {
	                $(this).on('slidestop', function(event) {
	                	ajaxGo(this);
	                });
	            });
	        });
			function ajaxGo(element, rnAddy, params, successFunc, errorFunc) {
				var httpMeth = "POST";
				var form;
				if (element && !element.form) {
					form = $('#rnCommandForm');
					var cmd = form.find('input[name="' + COMMAND + '"]');
					cmd.val($(element).attr('id'));
				} else if (element) {
					form = $(element.form);
					httpMeth = "PUT";
				}
				var jsonObj = form ? form.serializeFormJSON() : null;
				if (jsonObj || params) {
					var rnAddy = RN_ADDY + '='
							+ (rnAddy ? rnAddy : $('#' + RN_ADDY + '0').text()) + '&';
					var jsonData = rnAddy + (jsonObj ? $.param(jsonObj) : '') + (params ? '&' + params : '');
					//alert(jsonData);
					var sf = (successFunc ? successFunc : ajaxGoSuccess);
					var ef = (errorFunc ? errorFunc : ajaxGoError);
					$.ajax({
						type : httpMeth,
						url : AJAX_UPDATE_URL,
						data : jsonData,
						cache : false,
						dataType : "xml",
						success : sf,
						error : ef
					});
				}
			}
			function ajaxGoError(xhr, status, thrown) {
				showMessage('Error submitting request: ' + status + ' '
						+ thrown, 5000);
			}
			function ajaxGoSuccess(data) {
				//showMessage('Data submitting. Result: ' + data, 5000);
				hideMessage();
			}
			// Messages
			function showMessage(msg, timeout) {
				$.mobile.loadingMessage = msg;
				$.mobile.loading('show');
				if (timeout) {
					setTimeout(function() {
						hideMessage();
					}, timeout);
				}
			}
			function hideMessage() {
				$.mobile.loading('hide');
				$.mobile.loadingMessage = defaultLoadingMsg;
			}
			function refreshPage() {
				$.mobile.changePage(window.location.href, {
					allowSamePageTransition : true,
					transition : 'none',
					showLoadMsg : false,
					reloadPage : true
				});
			}
		/*]]>*/
		</script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	</head>
	<body>
		<div data-role="page" id="mainPage" data-title="UGate Mobile" data-theme="a" data-swatch="a" data-dom-cache="false">
			<div class="ui-header ui-bar-a" data-swatch="a" data-theme="a"
				data-form="ui-bar-a" data-role="header" role="banner" data-position="fixed">
				<a class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a"
					data-iconpos="notext" data-theme="a" data-role="button"
					data-icon="home" th:title="${title}" th:href="@{/}" title=" Home " href="/base.html">
					<span class="ui-btn-inner ui-btn-corner-all">
						<span class="ui-btn-text" th:text="${title}">Title</span>
						<span data-form="ui-icon" class="ui-icon ui-icon-home ui-icon-shadow">&nbsp;</span>
				</span>
				</a>
				<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">
					<span th:text="${title}" id="headerLabel">Header</span>
				</h1>
<!-- 				<a -->
<!-- 					class="ui-btn-right ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-a" -->
<!-- 					data-iconpos="notext" data-theme="a" data-role="button" -->
<!-- 					data-icon="grid" title=" Navigation "> <span -->
<!-- 					class="ui-btn-inner ui-btn-corner-all"> <span -->
<!-- 						class="ui-btn-text"> Navigation </span> <span data-form="ui-icon" -->
<!-- 						class="ui-icon ui-icon-grid ui-icon-shadow"></span> -->
<!-- 				</span> -->
<!-- 				</a> -->
				<a th:href="@{/logout}" href="/login.html" data-theme="b" data-iconpos="right" data-icon="arrow-r"  
					class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-b" 
					data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"
					data-transition="flip">
					<span class="ui-btn-inner ui-btn-corner-all">
						<span class="ui-btn-text" th:text="#{logout}">Logout</span>
						<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
					</span>
				</a>
			</div>
			<div th:include="${content} :: content" id="content" data-role="content">
				<script type="text/javascript">
				/*<![CDATA[*/
					// prototype content replaced by fragment on server
					var pp = 'login.html';
					var hashes = window.location.href.slice(
							window.location.href.indexOf('?') + 1).split('&');
					for (var i = 0; i < hashes.length; i++) {
						var hash = hashes[i].split('=');
						if (hash[0] == 'page' && hash[1]) {
							pp = hash[1] + '.html';
							break;
						}
					}
					$('#content').load(pp, function() {
						//alert('prototype load was performed.');
					});
				/*]]>*/
				</script>
			</div>
			<div data-role="footer" data-theme="d" data-position="fixed">
				<h4 th:text="${footer}">Footer</h4>
			</div>
		</div>
		<div id="feedbackMessage" style="display:none;">Loading...</div>
	</body>
</html>