<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<ul data-theme="d" data-role="listview" data-inset="true" data-divider-theme="e">
				<li th:text="#{wireless.node.remote.node(${rn.address})}" data-role="list-divider">Remote Node: (prototype)</li>
				<li th:each="rni : ${remoteNodes}" data-icon="arrow-r">
					<a th:href="@{${url}(rnId=${rni.id})}" href="/index.html" data-transition="flip" disabled="true">
						<span th:id="'rnId' + ${rniStat.index}" th:text="${rni.address}">0000 (prototype)</span>
					</a>
					<a th:text="#{wireless.node.connect(${rni.address})}" th:href="'javascript:rnConnect(this,\'' + ${rni.address} + '\', \'Connecting...\')'" href="#" data-theme="b" data-icon="arrow-r">Connect To Remote Device (prototype)</a>
				</li>
			</ul>
			<div th:unless="${#strings.isEmpty(rn.address)}" id="rnDetail">
				<form th:action="@{/}" id="rnCommandForm" action="/index.html" method="post" data-theme="c" data-transition="flip">
					<input id="command" name="command" type="hidden" value="" />
				</form>
				<div data-role="collapsible-set" data-transition="pop">
					<div data-role="collapsible" data-theme="b" data-content-theme="c">
						<h3 th:text="#{wireless.web.commands}">Commands (prototype)</h3>
						<div data-role="fieldcontain">
							<label th:text="#{gate.state}" for="GATE_TOGGLE_OPEN_CLOSE">Gate State: (prototype)</label>
							<select name="GATE_TOGGLE_OPEN_CLOSE" id="GATE_TOGGLE_OPEN_CLOSE" data-role="slider">
								<option th:text="#{close}" th:selected="${rnr == null or rnr.gateState == 0}" value="0">Close</option>
								<option th:text="#{open}" th:selected="${rnr != null and rnr.gateState == 1}" value="1">Open</option>
							</select>
						</div>
	<!-- 					<div data-role="fieldcontain"> -->
	<!-- 						<a id="SERVO_LASER_CALIBRATE" href="/" data-transition="flip"> -->
	<!-- 							<span id="SERVO_LASER_CALIBRATE_LABEL">Label Goes Here</span> -->
	<!-- 						</a> -->
	<!-- 					</div> -->
					</div>
				</div>
				<form th:action="@{/}" id="settingsForm" action="/index.html" method="post" data-theme="c" data-transition="flip">
					<div data-role="collapsible-set">
						<div data-role="collapsible" data-theme="b" data-content-theme="c">
							<h3 th:text="#{alarm.settings}">General Settings (prototype)</h3>
							<div data-role="collapsible-set">
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{sensors.trip.multi}">Alarm Multi-Trip State (prototype)</h3>
									<div th:each="cp : ${ALARM_TRIP_STATE_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="mats">Alarm Multi-Trip State Binary (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="mats" id="mats" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{universal.remote}">Universal Remote (prototype)</h3>
									<div th:each="cp : ${UNIVERSAL_REMOTE_TOGGLE}" class="containing-element">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="urt">Universal Remote On/Off (prototype)</label>
										<select th:name="${cp.type.key}" th:id="${cp.type.key}" name="urt" id="urt" data-role="slider">
											<option th:text="#{off}" th:selected="${cp.value} == 0" value="0">Off</option>
											<option th:text="#{on}" th:selected="${cp.value} == 1" value="1">On</option>
										</select>
									</div>
									<div th:each="cp : ${UNIVERSAL_REMOTE_CODE_RANGE}" data-role="fieldcontain">
										<label th:text="#{wireless.access.key(${cpStat.index})}" th:for="${cp.type.key}" for="urkc">Universal Remote Key Code (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="urkc" id="urkc" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{alarm.notify}">Alarm Notifications (prototype)</h3>
									<div th:each="cp : ${ALARM_NOTIFY_TOGGLE}" class="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="ant">Alarm Notification On/Off (prototype)</label>
										<select th:name="${cp.type.key}" th:id="${cp.type.key}" name="ant" id="ant" data-role="slider">
											<option th:text="#{off}" th:selected="${cp.value} == 0" value="0">Off</option>
											<option th:text="#{on}" th:selected="${cp.value} == 1" value="1">On</option>
										</select>
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{cam}">Camera Settings (prototype)</h3>
									<div th:each="cp : ${CAM_SETTINGS_TOGGLE}" class="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="camSet">Camera Settings On/Off (prototype)</label>
										<select th:name="${cp.type.key}" th:id="${cp.type.key}" name="camSet" id="camSet" data-role="slider">
											<option th:text="#{camResolution.qvga}" th:selected="${cp.value} == 0" value="0">QVGA</option>
											<option th:text="#{camResolution.vga}" th:selected="${cp.value} == 1" value="1">VGA</option>
										</select>
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{gate.conf}">Gate Configuration (prototype)</h3>
									<div th:each="cp : ${GATE_TOGGLE}" class="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="ant">Gate On/Off (prototype)</label>
										<select th:name="${cp.type.key}" th:id="${cp.type.key}" name="ant" id="ant" data-role="slider">
											<option th:text="#{off}" th:selected="${cp.value} == 0" value="0">Off</option>
											<option th:text="#{on}" th:selected="${cp.value} == 1" value="1">On</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div data-role="collapsible" data-theme="b" data-content-theme="c">
							<h3 th:text="#{alarm.thres}">Alarm Thresholds (prototype)</h3>
							<div data-role="collapsible-set">
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{sonar}">Sonar (prototype)</h3>
									<div th:each="cp : ${SONAR_THRESHOLD_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="sThres">Sonar Threshold Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="sThres" id="sThres" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{pir}">PIR (prototype)</h3>
									<div th:each="cp : ${PIR_THRESHOLD_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="pThres">PIR Threshold Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="pThres" id="pThres" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{mw}">Microwave (prototype)</h3>
									<div th:each="cp : ${MW_THRESHOLD_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="mThres">Microwave Threshold Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="mThres" id="mThres" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{laser}">Laser (prototype)</h3>
									<div th:each="cp : ${LASER_THRESHOLD_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="lThres">Laser Threshold Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="lThres" id="lThres" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
							</div>
						</div>
						<div data-role="collapsible" data-theme="b" data-content-theme="c">
							<h3 th:text="#{alarm.positioning}">Positioning (prototype)</h3>
							<div data-role="collapsible-set">
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{cam.pos}">Camera Positiong (prototype)</h3>
									<div th:each="cp : ${CAM_POSITION_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="camPos">Camera Position Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="camPos" id="camPos" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{sonar.pir.pos}">Sonar/PIR Positiong (prototype)</h3>
									<div th:each="cp : ${SONAR_PIR_POSITION_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="spPos">Sonar/PIR Position Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="spPos" id="spPos" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
								<div data-role="collapsible" data-theme="c" data-content-theme="c">
									<h3 th:text="#{mw.pos}">Microwave Positiong (prototype)</h3>
									<div th:each="cp : ${MW_POSITION_RANGE}" data-role="fieldcontain">
										<label th:text="#{${cp.type.key}}" th:for="${cp.type.key}" for="mwPos">Microwave Range (prototype)</label>
										<input th:value="${cp.value}" th:max="${cp.type.max}" th:min="${cp.type.min}" 
											type="range" th:name="${cp.type.key}" th:id="${cp.type.key}" name="mwPos" id="mwPos" 
											value="0" min="0" max="100" data-highlight="true" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>