/*******************************************************************************
 *      http://download.oracle.com/javafx/2.0/api/javafx/scene/doc-files/cssref.html *
 * Toolbar                                                                     *
 *                                                                             *
 * Corresponding hex values for the color derivations used below are:          *
 * derive(-fx-base,-20%); #a6a6a6                                              *
 * derive(-fx-base,-30%); #929292                                              *
 * derive(-fx-base,-35%); #878787                                              *
 * derive(-fx-base,-50%); #686868                                              *
 * derive(-fx-base,-60%); #535353                                              *
 * derive(-fx-base,65%); #efefef                                               *
 *                                                                             *
 ******************************************************************************/
.root {
	-fx-accent: #95B9C7;
	-fx-focus-color: #95B9C7;
/* 	-fx-font-family: "Arial"; */
}
.scene {
    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: white;
}
#title-bar-left {
	-fx-background-color: transparent;
	-fx-background-image: url("ugskin-tl90x80.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: right;
	-fx-background-size: 90 80;
}
#title-bar {
/* 	-fx-background-color:  */
/* 		linear-gradient(from 0% 0% to 0% 100%, transparent 50%, white); */
	-fx-background-image: url("ugskin-tc1x80.png");
	-fx-background-repeat: repeat-x;
	/*-fx-background-position: bottom;*/
	-fx-background-size: 1 80;
	/*-fx-background-size: 34 50, 1 50;*/
}
#title-bar-right {
	-fx-background-color: transparent;
	-fx-background-image: url("ugskin-tr140x80.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: bottom;
	-fx-background-size: 144 80; /* bug with background repeat where the last few pixels will not be filled */
}
#status-bar-left {
	-fx-background-color: transparent;
	-fx-background-image: url("ugskin-bl70x40.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: right;
	-fx-background-size: 70 40;
}
#status-bar {
	-fx-background-color: transparent;
	-fx-background-image: url("ugskin-bc1x40.png");
	-fx-background-repeat: repeat-x;
	/*-fx-background-position: bottom;*/
	-fx-background-size: 1 40;
	/*-fx-background-size: 34 50, 1 50;*/
}
#status-bar-right {
	-fx-background-color: transparent;
	-fx-background-image: url("ugskin-br70x40.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: bottom;
	-fx-background-size: 74 40; /* bug with background repeat where the last few pixels will not be filled */
}
#border-left {
	-fx-background-color: #A3A3A3;
}
#border-right {
	-fx-background-color: #A3A3A3;
}
#title-menu:hover {
	-fx-cursor: hand;
}
#window-resize-button {
	/*-fx-background-color: #A3A3A3;*/
    -fx-background-image: url("ugskin-resize11x11.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}
#main-content {
	-fx-background-color: 
		linear-gradient(from 0% 0% to 0% 100%, derive(-fx-base,-30%) 75%, rgba(114,131,148,0.9) 85%, derive(-fx-base,-95%) 95%, derive(-fx-base,-100%)),
		radial-gradient(center 50% 75%, radius 50%, derive(-fx-base,-30%), derive(-fx-base,-90%));
	-fx-padding: 0 0 0 0;
}
#center-view {
	-fx-background-color: #ffffff;
	-fx-text-fill: #000000;
}
#bottom-view {
	-fx-padding: 0 50 0 50;
}
#taskbar {
    -fx-background-color:
		linear-gradient(from 0% 0% to 0% 100%, transparent 49%, derive(-fx-base,-30%) 50%, derive(-fx-base,65%) 52%, derive(-fx-base,-20%) 95%, derive(-fx-base,-60%));
	-fx-shape: "M100 0 L0 400 L400 400 L300 0 Z";
/* 	-fx-scale-shape: false; */
/*     -fx-padding: 2 70 0 5; */
	-fx-alignment: CENTER;
	-fx-spacing: 10 10 10 10;
/* 	-fx-effect: dropshadow(two-pass-box, black, 15, .5, 0, -10); */
}
#connection-view {
    -fx-background-color: white;
	-fx-alignment: CENTER;
}
#control-bar {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-effect: dropshadow(two-pass-box, black, 15, .5, 0, 3);
}
.section-pane {
	-fx-text-fill: white;
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-border-width: 3;
    -fx-border-color: 
    	linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%) 
		linear-gradient(#686868 10%, white 40%, #343534 90%, #757575 100%)
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
		linear-gradient(#686868 10%, white 40%, #343534 90%, #757575 100%);
	-fx-border-insets: 1 1 1 1;
	-fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 10 10 10;
	-fx-border-radius: 8 8 8 8;
	-fx-background-radius: 10 10 10 10;
}
.section-grid {
	-fx-text-fill: white;
	-fx-background-color: 
		linear-gradient(from 0% 0% to 0% 100%, #000000 0%, #32404e 10%, #32404e 25%, #586b7d 50%, #32404e 75%, #32404e 90%, #000000);
	-fx-hgap: 20;
	-fx-vgap: 20;
	-fx-alignment: center;
}
.remote-node-listview, .remote-node-listcell {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background: transparent;
    -fx-padding: 0 2 0 1;
    -fx-spacing: 1;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-font-size: 10px;
}
.remote-node-listcell:selected, .remote-node-listcell:hover {
	-fx-border-width: 1;
	-fx-border-radius: 4 4 4 4;
	-fx-border-color: -fx-focus-color;
}
.remote-node-listcell:hover {
	-fx-border-color: yellow;
}
.remote-node-listcell:empty {
	-fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
/* When the list-cell is selected and focused */
/* .list-view:focused .list-cell:filled:focused:selected { */
/*     -fx-background-color: transparent; */
/*     -fx-background-insets: 0; */
/*     -fx-background: transparent; */
/*     -fx-text-fill: red; */
/* } */

/* When the list-cell is selected and selected-hovered but not focused. 
    Applied when the multiple items are selected but not focused */
/* .list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover { */
/*     -fx-background: transparent; */
/*     -fx-background-color: transparent; */
/*     -fx-text-fill: green; */
/* } */

/* When the list-cell is selected, focused and mouse hovered */
/* .list-view:focused .list-cell:filled:focused:selected:hover { */
/*     -fx-background: transparent; */
/*     -fx-background-color: transparent; */
/*     -fx-background-insets: 0, 1, 2; */
/*     -fx-text-fill: yellow; */
/* } */
/* .list-cell:empty { */
/* 	-fx-background: transparent; */
/*     -fx-background-color: transparent; */
/* } */
/*******************************************************************************
 *                                                                             *
 * Dialog                                                                      *
 *                                                                             *
 ******************************************************************************/
.dialog-title {
    -fx-fill: white;
    -fx-font-style: oblique;
    -fx-font-size: 14px;
    -fx-effect: dropshadow( one-pass-box , rgba(75,75,75,0.8) , 0, 0.0 , 2, 2);
}
.dialog-message {
    -fx-fill: crimson;
    -fx-font-style: oblique;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 1, 1);
}
.dialog-base, .dialog {
	-fx-text-fill: white;
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-border-width: 3;
    -fx-border-color: 
    	linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%) 
		linear-gradient(#686868 10%, white 40%, #343534 90%, #757575 100%)
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
		linear-gradient(#686868 10%, white 40%, #343534 90%, #757575 100%);
	-fx-border-insets: 1 1 1 1;
}
.dialog {
	-fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 10 10 10;
	-fx-border-radius: 8 8 8 8;
	-fx-background-radius: 10 10 10 10;
}
.dialog-normal {
	-fx-text-fill: white;
}
/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    /*-fx-background-radius: 5,5,4;*/
    -fx-background-radius: 0;
    -fx-padding: 7 30 7 30;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}
.button:focused {
    -fx-color: -fx-focused-base;
    /*-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-effect: dropshadow( one-pass-box , black, 0, 0.0 , 2, 2);
    -fx-background-insets: -1.4, 0, 1, 2;
/*     -fx-background-radius:  6.4, 5, 4, 3; */
}

.button:hover {
    -fx-color: -fx-focused-base;
    -fx-background-color:
        #b6c5d9,
        linear-gradient(#404852 0%, #4e6587 20%, #476084 100%),
        linear-gradient(#869ab5 0%, #94accb 5%, #6887b2 50%, #587aaa 51%, #5a7cab 100%);
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 2, 2);
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:default {
    -fx-base: -fx-accent;
}

.button:cancel {
     -fx-base: -fx-accent;
 }

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}
.button-mini {
    -fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
/*     -fx-background-insets: 0 0 -1 0,0,1; */
/*     -fx-background-radius: 5,5,4; */
    -fx-padding: 0 7 0 7;
    -fx-text-fill: #242d35;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
 /* 	-fx-highlight-fill: gray; */
/* 	-fx-highlight-text-fill: black; */
/* .text-field { */
/*     -fx-background-color: */
/*         linear-gradient(#f2f2f2, #d6d6d6), */
/*         linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%), */
/*         linear-gradient(#dddddd 0%, #f6f6f6 50%); */
/*     -fx-background-radius: 8,7,6; */
/*     -fx-background-insets: 0,1,2; */
/*     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */
/*     -fx-text-fill: linear-gradient(black, #38424b); */
/*     -fx-font-size: 12px; */
/*     -fx-cursor: text; */
/*     -fx-padding: 3 5 3 5; */
/*     -fx-font-weight: normal; */
/* } */
/* .text-field:focused { */
/*     -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.0 , 3 , 3); */
/* } */
/* .text-field:disabled { */
/*     -fx-opacity: -fx-disabled-opacity; */
/* } */
.text-field-fx {
    -fx-skin: "com.sun.javafx.scene.control.skin.TextFieldSkin";
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 3 5;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
    -fx-font-weight: normal;
}
.text-field-fx:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}
.text-field-fx:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
/* .password-box { */
/*     -fx-background-color: */
/*         linear-gradient(#f2f2f2, #d6d6d6), */
/*         linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%), */
/*         linear-gradient(#dddddd 0%, #f6f6f6 50%); */
/*     -fx-background-radius: 8,7,6; */
/*     -fx-background-insets: 0,1,2; */
/*     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */
/*     -fx-text-fill: linear-gradient(black, #38424b); */
/*     -fx-font-size: 12px; */
/*     -fx-font-weight: normal; */
/*     -fx-cursor: text; */
/*     -fx-padding: 10 5 10 5; */
/*     -fx-echo-char: "\u25cf"; */
/* } */
/* .password-box .viewport { */
/* 	-fx-padding: 10 5 10 5; */
/* } */
/* .password-box:focused { */
/*     -fx-background-color: */
/*         linear-gradient(#f2f2f2, #d6d6d6), */
/*         linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%), */
/*         linear-gradient(#dddddd 0%, #f6f6f6 50%); */
/*     -fx-background-radius: 8,7,6; */
/*     -fx-background-insets: 0,1,2; */
/*     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */
/*     -fx-text-fill: linear-gradient(black, #38424b); */
/*     -fx-font-size: 12px; */
/*     -fx-font-weight: normal; */
/*     -fx-cursor: text; */
/*     -fx-padding: 10 5 10 5; */
/*     -fx-echo-char: "\u25cf"; */
/* } */
/* .password-box:disabled { */
/*     -fx-opacity: -fx-disabled-opacity; */
/* } */
.text-field-menu-add-choice {
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;  /* 8 5 0 5 */
    -fx-background-color: #00CC00;
    -fx-scale-shape: false;
    -fx-shape: "M3.5 0 L3.5 3.5 L0 3.5 L0 6.5 L3.5 6.5 L3.5 10 L6.5 10 L6.5 10 L6.5 6.5 L10 6.5 L10 3.5 L6.5 3.5 L6.5 0 Z";
    -fx-effect: dropshadow(two-pass-box , rgba(255, 255, 255, 0.4), 1, 0.0 , 0, 1);
}
.text-field-menu-remove-choice {
    -fx-background-color: #FF0000;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-effect: dropshadow(two-pass-box , rgba(255, 255, 255, 0.4), 1, 0.0 , 0, 1);
}
.text-field-menu-star-choice {
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;  /* 8 5 0 5 */
    -fx-background-color: #D4A017;
    -fx-shape: "M.55 0 L.67 .36 L1.09 .36 L.73 .54 L.83 .96 L.55 .72 L.27 .96 L.37 .54 L.01 .36 L.43 .36 Z";
    -fx-effect: innershadow( two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 1 );
}
/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/
/* .text-area { */
/*     -fx-background-color: */
/*         linear-gradient(#f2f2f2, #d6d6d6), */
/*         linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%), */
/*         linear-gradient(#dddddd 0%, #f6f6f6 50%); */
/*     -fx-background-radius: 8,7,6; */
/*     -fx-background-insets: 0,1,2; */
/*     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */
/*     -fx-text-fill: linear-gradient(black, #38424b); */
/*     -fx-font-weight: normal; */
/*     -fx-font-size: 12px; */
/*     -fx-cursor: text; */
/*     -fx-padding: 10 5 10 5; */
/* } */
/* .text-area .scroll-pane { */
/*     -fx-background-color: transparent; */
/* } */
/* .text-area .content { */
/*     -fx-padding: 3 5 3 5;  */
/*     -fx-cursor: text; */
/* } */
/* .text-area:focused { */
/*     -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.0 , 3 , 3); */
/* } */

/* .text-area:disabled { */
/*     -fx-opacity: -fx-disabled-opacity; */
/* } */
/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/
.choice-box {
/*     -fx-skin: "org.ugate.gui.components.EditableChoiceBoxSkin"; */
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 0.0em 0.5em 0.0em 0.0em; /* 0 6 0 0 */
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
/* .choice-box Text { */
/* 	-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1); */
/* } */
.choice-box:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.0 , 3 , 3);
}
.choice-box:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
/*******************************************************************************
 *                                                                             *
 * Date Chooser                                                                *
 *                                                                             *
 ******************************************************************************/
#DatepickerArrow {
	-fx-fill: gray;
	-fx-stroke: gray;
}
#DatepickerArrow:hover {
	-fx-fill: white;
	-fx-stroke: white;
}
#DatePicker {
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-text-fill: white;
    -fx-border-color: gray;
}
#DatepickerDayCell {
	-fx-background-color: transparent;
	-fx-border-radius: 4;
	-fx-spacing: 0;
}
#DatepickerDayCell:hover {
	-fx-background-color: azure;
	-fx-border-color: royalblue;
	-fx-border-radius: 3;
	-fx-text-fill: royalblue;
}
#DatepickerDayCell .datepicker-today-cell {
    -fx-background-color: lightsteelblue;
   	-fx-border-radius: 3;
   	-fx-border-style: segments(2,2);
   	-fx-border-color: royalblue;
    -fx-text-fill: royalblue;
	-fx-font-size: 12px;
}
.datepicker-weekday-row {
    -fx-background-color: linear-gradient(to bottom, gray, lightgray, lightgray, lightgray, gray);
    -fx-text-fill: black;
	-fx-font-size: 12px;
}
.datepicker-monthyear-row {
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%); 
	-fx-text-fill: white;
	-fx-font-size: 12px;
}
.datepicker-othermonth-cell {
   	-fx-border-radius: 4;
    -fx-text-fill: gray;
	-fx-font-size: 12px;
}
#DatepickerTodayButton {
	-fx-font-size: 12px;
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
}
#DatepickerTodayButton:focused {
    -fx-color: -fx-focused-base;
    -fx-effect: dropshadow( one-pass-box , black, 0, 0.0 , 2, 2);
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}
#DatepickerTodayButtonBox {
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
}
#CalenderButton {
/*     -fx-font-size: 14px; */
/* 	-fx-background-image: url("calender_icon.png"); */
/* 	-fx-background-color: null; */
/* 	-fx-background-repeat: no-repeat; */
/* 	-fx-background-position: center; */
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.238083em 0.416667em 0.238083em 0.416667em; /* 2.857 5 2.857 5 */
    -fx-shape: "M 0 0 L 6 12 L 12 0 z";
    -fx-scale-shape: false;
}
#CalenderButton:hover {
    -fx-background-color: -fx-accent;
}
/*******************************************************************************
 *                                                                             *
 * Other                                                                       *
 *                                                                             *
 ******************************************************************************/
.title-bar-menu {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
	-fx-shape: "M0 10 L0 40 L170 40 L170 35 L150 0 L5 0 Z";
    -fx-padding: 2 70 0 5;
}
.title-bar-menu TextFieldMenu {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 1 );
}
.text-area-help {
	-fx-text-fill: black;
	-fx-font-weight: normal;
	-fx-background-color: #ffffff;
}
.background-display {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
/*     -fx-background-insets: 0,1,4,5,6; */
    -fx-background-radius: 9,8,5,4,3;
/*     -fx-padding: 15 30 15 30; */
/*     -fx-font-size: 18px; */
/*     -fx-font-weight: bold; */
/*     -fx-text-fill: white; */
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1)
}
.background-display Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.tab-content-area {
    -fx-background-color: transparent;
    -fx-padding: 0.0em; /* 0 */
    /* -fx-opacity: -fx-disabled-opacity;*/
}
.control-toolbar .button, .control-toolbar .toggle-button, .control-toolbar .label {
    -fx-text-fill: white;
    -fx-background-radius: 0;
}
.control-toolbar {
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 4 4 4 4;
    -fx-background-color: 
 		linear-gradient(from 0% 0% to 0% 100%, #919398, #919398 4%, #666970 4.1%, #494d53 66%, #3c3f46 94%, #515151);
}
.control-toolbar-left {
    -fx-base: #505359;
    -fx-background: #505359;
    -fx-shadow-highlight-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 4 4 4 4;
    -fx-background-color: 
 		linear-gradient(from 0% 0% to 0% 100%, #515151, #3c3f46 4%, #494d53 4.1%, #666970 66%, #919398 94%, #919398);
}
.gauge-header {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-text-origin: top;
/*     -fx-underline: true; */
    -fx-font-weight: bold;
}
.gauge-header Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.gauge, .gauge-text {
	-fx-background: #000000;
	-fx-alignment: CENTER_RIGHT;
	-fx-spacing: 5;
	-fx-padding: 4 4 4 4;
    -fx-background-color: 
    	linear-gradient(from 0% 0% to 0% 100%, #505050 10%, #303030 25%, #000000 95%, #DFDFDF 100%);
}
.readings-text {
	-fx-text-fill: white;
	-fx-font-size: 10px;
}

/* .chart-bar { */
/*     -fx-background-color: rgba(0,168,355,0.05); */
/*     -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3)  */
/*         transparent rgba(0,168,355,0.3); */
/*     -fx-background-radius: 0; */
/*     -fx-background-position: left center; */
/* } */
/* .data0.chart-bar { */
/*     -fx-background-color: CYAN; */
/* } */
/* .data1.chart-bar { */
/*     -fx-background-color: ORANGE; */
/* } */
/* .data2.chart-bar { */
/*     -fx-background-color: CHARTREUSE; */
/* } */
/* .data3.chart-bar { */
/*     -fx-background-color: RED; */
/* } */
/* .default-color0.chart-bar { -fx-bar-fill: CYAN; } */
/* .default-color1.chart-bar { -fx-bar-fill: ORANGE; } */
/* .default-color2.chart-bar { -fx-bar-fill: CHARTREUSE; } */
/* .default-color3.chart-bar { -fx-bar-fill: RED; } */
/* .default-color4.chart-bar { -fx-bar-fill: DARKVIOLET; } */